

  <div class="container">
        <div class="row">
          <div class="col">
      
          </div>
      
      
      
      
      
      
          <div class="col-md-7">
      
            <div class="fixed-background">
              <div class="row light">
                <div class="col-12 os-animation" data-animation="fadeInUp">
                  <h3 class="heading"style="color:#91b029">Agent Account</h3>
                  <div class="heading-underline"></div>
                  <a class="btn btn-gold btn-md" href="#contact" target="_blank"><%= user.firstName%> <%= user.lastName%>
                  </a>
                </div>
      
              </div>
            </div>
      
            
      
            <!-- <h3 class="mb-2 d-flex media-38289 justify-content-around mb-5"> </h3> -->
      
      
            <!-- <div class="d-flex media-38289 justify-content-around mb-5"></div> -->
      
      
      
            <p><a href="/admin/addAdvertisement" class="btn btn-primary text-white px-4 py-3 admin-panel">Add
                Advertisement</a></p>
      
            <p><a href="/admin/changePassword" class="btn btn-primary text-white px-4 py-3 admin-panel">Change
                Password</a></p>
      
            <p><a href="/admin/changePersonalInfo" class="btn btn-primary text-white px-4 py-3 admin-panel">Edit Profile</a>
            </p>
      
           
            <p><a href="/admin/advManag" class="btn btn-primary text-white px-4 py-3 admin-panel">Advertisement Management</a>
            </p>
      
            <p><a href="/contact" class="btn btn-primary text-white px-4 py-3 admin-panel">Contact The Admin
              </a></p>
      
            <p><a href="/admin/logout" class="btn btn-primary text-white px-4 py-3 admin-panel">Log Out</a></p>
      
      
      
      
      
          </div>
      
      
      
          <div class="col">
      
          </div>
        </div>
      </div>