<div class="site-section bg-primary">
    <div class="container block-13">
        <div class="nonloop-block-13 owl-carousel">
            <div class="testimonial-38920 d-flex align-items-start">
                <div class="pic mr-4"><img src="/images/larry_page.jpg" alt=""></div>
                <div>
                    <span class="meta golden">Business Man</span>
                    <h3 class="mb-4">Larry Page</h3>
                    <p>This real estate search engine is really helpful. It is for free and it has a lot of features
                        that everyone can make use of for private and commercial purposes!</p>
                    <div class="mt-4">
                        <span class="icon-star text-white"></span>
                        <span class="icon-star text-white"></span>
                        <span class="icon-star text-white"></span>
                        <span class="icon-star text-white"></span>
                    </div>
                </div>
            </div>

            <div class="testimonial-38920 d-flex align-items-start">
                <div class="pic mr-4"><img src="/images/sundar_pichai.jpg" alt=""></div>
                <div>
                    <span class="meta golden">Real Estate Agent</span>
                    <h3 class="mb-4">Sundar Pichai</h3>
                    <p>It is a full stack search engine that perfomes in a very professional way. For those who seeks a
                        smart and easy to use web services! </p>
                    <div class="mt-4">
                        <span class="icon-star text-white"></span>
                        <span class="icon-star text-white"></span>
                        <span class="icon-star text-white"></span>
                        <span class="icon-star text-white"></span>
                    </div>
                </div>
            </div>

            <div class="testimonial-38920 d-flex align-items-start">
                <div class="pic mr-4"><img src="/images/jeremy_ashkenas.jpg" alt=""></div>
                <div>
                    <span class="meta golden">Web developer</span>
                    <h3 class="mb-4">Jeremy Ashkenase</h3>
                    <p>Nicely structured web search engine that anyone can use!</p>
                    <div class="mt-4">
                        <span class="icon-star text-white"></span>
                        <span class="icon-star text-white"></span>
                        <span class="icon-star text-white"></span>
                        <span class="icon-star text-white"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>